.content{
  padding: 6rem 0;
  &__introduction{
    padding: 2rem 0;
    & p{
      color: #303030;
      font-family: $font-primary;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;

      padding: 1rem 0;
      & span{
        color: $color-span;
        font-size: 1.6rem;
        padding: 2rem 0;
      }
    }
  }

}