.conclusion{
  background-image: url("../img/illustration-2.png");
  background-size: cover;

  height: 800px;
  margin: 8rem auto 0 auto;
  padding: 16rem;
  @media only screen and(max-width: $bp-medium){
    padding: 0;
  }
  &__content{

    @media only screen and(max-width: $bp-medium){
      width: 100%;
      text-align: center;
    }
    @media only screen and(max-width: $bp-medium){
      padding: 6rem;
    }
    & p{
      padding: .5rem 0;
      font-family: $font-primary;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}